<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.parking.mapper.ParkingSpaceMapper">

    <select id="findByPage" resultType="com.parking.entity.ParkingSpace">
        SELECT * FROM park_list
        <where>
            <if test="keyword != null and keyword != ''">
                AND (park_num LIKE CONCAT('%', #{keyword}, '%')
                OR park_name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        ORDER BY park_num ASC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countByKeyword" resultType="int">
        SELECT COUNT(*) FROM park_list
        <where>
            <if test="keyword != null and keyword != ''">
                AND (park_num LIKE CONCAT('%', #{keyword}, '%')
                OR park_name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
    </select>

</mapper>
